@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

body {
    background-image: url("/images/bg-mobile.svg");
    background-color: var(--violet);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 33px;
    position: relative;
    font-family: "Open Sans", sans-serif;
}

header img {
    height: 35px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main .image {
    text-align: left;
    margin-top: 53px;
}

main .image img {
    width: 80vw;
}

main .text {
    margin-top: 50px;
    line-height: 1.4;
    color: white;
}

main .text h1 {
    margin-bottom: 30px;
    font-family: "Popins", sans-serif;
    font-size: 26px;
    font-weight: 400;
}

main .text p {
    font-size: 17px;
}

.btn {
    margin: 30px 0 60px 0;
}

.register-btn {
    background-color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 400;
    color: hsl(257, 40%, 49%);
    box-shadow: 7px 9px 12px 2px rgba(0, 0, 0, 0.24);
    transition: .6s;
}

.register-btn:hover {
    background-color: var(--soft-magenta);
    color: white;
}

.social {
    text-align: center;
}

.social i {
    padding: 12px;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    transition: .6s;
}

.social i.fa-facebook-f {
    padding: 12px 15px;
}

.social i:hover {
    color: var(--soft-magenta);
    border-color: var(--soft-magenta);
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
}

footer a:link,
footer a:visited {
    color: var(--soft-magenta);
}

footer p {
    color: white;
}

@media (min-width: 769px) {
    header img {
        margin-left: 50px;
        height: 50px;
    }

    body {
        background-image: url("/images/bg-desktop.svg");

    }

    main {
        flex-direction: row;
        text-align: left;
    }

    main .image {
        margin-top: 30px;
    }

    main .image img {
        width: 50vw;
        padding: 30px;
    }

    main .text {
        width: 50vw;
    }

    main .text h1 {
        font-size: 30px;
    }

    main .text .register-btn {
        font-size: 18px;
    }

    footer .social {
        text-align: right;
        margin-right: 30px;
    }
}

@media (min-width: 1440px) {
    main .text {
        width: 35%;
    }

    main .text {
        margin-top: 100px;
    }

    main .text h1 {
        font-size: 50px;
    }
}

@media (min-width: 1600px) {
    main {
        max-width: 1440px;
        margin: 0 auto;
    }
}