@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* COLORS - DARK & LIGHT THEME */
:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youTube: hsl(348, 97%, 39%);
}
.dark {
  --background: hsl(230, 17%, 14%);
  --background-top: hsl(232, 19%, 15%);
  --background-card: hsl(228, 28%, 20%);
  --text: hsl(228, 34%, 66%);
  --subtext: hsl(0, 0%, 100%);
  --background-toggle: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  --color-hover: hsl(228, 20%, 30%);
}
.light {
  --background: hsl(0, 0%, 100%);
  --background-top: hsl(225, 100%, 98%);
  --background-card: hsl(227, 47%, 96%);
  --text: hsl(228, 12%, 44%);
  --subtext: hsl(230, 17%, 14%);
  --background-toggle: hsl(230, 22%, 74%);
  --color-hover: hsl(228, 12%, 84%);
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--background);
  font-family: "Inter", sans-serif;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 235px;
  background-color: var(--background-top);
  z-index: -1;
}
h1 {
  font-size: 24px;
  color: var(--subtext);
  line-height: 1.5;
}

p {
  font-size: 14px;
  font-weight: 700;
  color: var(--text);
}

/* TOGGLE */
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .dot {
  transform: translateX(26px);
}

.label {
  display: flex;
  position: relative;
  width: 50px;
  height: 24px;
  border-radius: 50px;
  background: var(--background-toggle);
}

.dot {
  background-color: var(--background);
  height: 20px;
  width: 20px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  width: 90%;
  margin: 0 auto;
}

.title {
  border-bottom: 1px solid var(--background-card);
  padding-bottom: 22px;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}

/* SOCIAL CARD */
.main {
  width: 90%;
  margin: 0 auto;
}

.social-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-card);
  border-radius: 5px;
  width: 100%;
  padding: 28px 0;
  position: relative;
}

.social-card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: var(--after-color);
  border-radius: 5px 5px 0 0;
}

.social-card,
.overview__card {
  margin-bottom: 20px;
}

.social-card:nth-child(1) {
  --after-color: var(--facebook);
}

.social-card:nth-child(2) {
  --after-color: var(--twitter);
}

.social-card:nth-child(3) {
  --after-color: var(--instagram);
}

.social-card:nth-child(4) {
  --after-color: var(--youTube);
}

.social-card__header,
.social-card__growth {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.social-card__header {
  margin-bottom: 20px;
}

.social-card__user {
  font-size: 12px;
}

.social-card__number {
  font-size: 54px;
  color: var(--subtext);
}

.social-card__followers {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
}

.social-card__growth {
  margin-top: 20px;
}

.social-card__growth-icon {
  height: 5px;
  align-self: center;
}

.social-card__growth-number {
  font-size: 12px;
}
.up {
  color: var(--lime-green);
}
.down {
  color: var(--bright-red);
}

/* OVERVIEW */
.overview__title {
  color: var(--subtext);
  line-height: 3.4;
}
.overview__card {
  background-color: var(--background-card);
  border-radius: 5px;
  padding: 22px;
}
.overview__header,
.overview__top,
.overview__growth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.overview__header {
  margin-bottom: 20px;
}

.overview__number {
  font-size: 34px;
  color: var(--subtext);
}
.overviev__arrow {
  margin-right: 5px;
}

.social-card:hover,
.overview__card:hover,
.label:hover {
  background-color: var(--color-hover);
  /* opacity: 0.1; */
}

@media (min-width: 768px) {
  .socials-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
  .overview__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }
}
@media (min-width: 1440px) {
  .main {
    width: 100%;
    max-width: 1130px;
  }
  .socials-cards {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
  }
  .overview__cards {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 34px;
  }
  .header {
    width: 100%;
    max-width: 1130px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    padding-bottom: 0;
    border: none;
  }
  .theme-name {
    margin-right: 10px;
  }
}
