@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --very-dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --very-light-gray: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 30px;
    background-color: var(--very-light-gray);
    color: var(--very-dark-blue);
    font-family: "Poppins", sans-serif;
}

header {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}

header h1 {
    color: var(--grayish-blue);
    font-size: 24px;
    font-weight: 200;
}

header h2 {
    font-size: 24px;
    font-weight: 600;
}

header p {
    margin: 20px auto 40px auto;
    color: var(--grayish-blue);
    font-size: 15px;
    font-weight: 400;
}

.card {
    border-radius: 5px;
    box-shadow: 0px 9px 28px -3px rgba(0, 0, 0, 0.54);
    margin: 0 auto 20px auto;
    padding: 20px;
}

.card h3 {
    line-height: 1.5;
    font-weight: 600;
}

.card p {
    margin-bottom: 20px;
    font-weight: 200;
}

.card .icon {
    text-align: right;
}

.card .icon img {
    height: 60px;
    width: 60px;
}

.supervisor {
    border-top: 4px solid var(--cyan);
}

.team-builder {
    border-top: 4px solid var(--red);
}

.karma {
    border-top: 4px solid var(--orange);
}

.calculator {
    border-top: 4px solid var(--blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 540px) {
    .card {
        max-width: 350px;
        margin: 20px auto 30px auto;
    }
}

@media screen and (min-width: 1024px) {
    .cards-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .karma {
        order: 4;
    }
}

@media (min-width: 1440px) {
    .cards-container {
        flex-direction: row;
        max-width: 1150px;
        margin: 0 auto;
    }

    .supervisor {
        transform: translateY(50%);
    }

    .calculator {
        transform: translateY(50%);
    }
}