@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --border-radius-px: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  color: var(--pale-blue);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background-image: url("images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Container */
.container {
  padding: 20px 0;
}
span {
  font-weight: 700;
}
.container__logo,
.container__storage {
  margin: 0 auto;
  background-color: var(--dark-blue);
  width: 90%;
}

.container__logo {
  padding: 40px;
  margin-bottom: 17px;
  border-radius: var(--border-radius-px) 100px var(--border-radius-px)
    var(--border-radius-px);
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.buttons__item {
  display: flex;
  align-items: center;
  background-color: var(--very-dark-blue);
  padding: 11px 13px;
  border-radius: var(--border-radius-px);
  cursor: pointer;
}
.buttons__item:not(:last-child) {
  margin-right: 16px;
}
.container__storage {
  position: relative;
  border-radius: var(--border-radius-px);
  text-align: center;
  padding: 30px;
}
.progress {
  border-radius: 10px;
  width: 100%;
  height: 18px;
  position: relative;
  margin: 14px 0;
  border: 2px solid var(--very-dark-blue);
}
.progress::-webkit-progress-bar {
  background-color: var(--very-dark-blue);
  border-radius: 10px;
}
.progress::-webkit-progress-value {
  background-image: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 10px;
}
.progress::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(81.5% - 12px);
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}
.progress__values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.container__message {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 70px;
  width: 178px;
  transform: translate(-50%, 50%);
  background-color: white;
  color: var(--grayish-blue);
  border-radius: var(--border-radius-px);
}
.container__message span {
  font-size: 40px;
  color: var(--very-dark-blue);
  margin-right: 5px;
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 900px;
  }
  .container__logo {
    width: 55%;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .container__storage {
    height: 90%;
    align-self: flex-end;
  }
  .container__message {
    top: -35%;
    left: 60%;
    transform: translate(0%, 0%);
    border-radius: var(--border-radius-px) var(--border-radius-px) 0
      var(--border-radius-px);
  }
  .container__message::after {
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-top: 20px solid white;
  }
}

@media (min-width: 1340px) {
  body {
    background-image: url("images/bg-desktop.png");
    background-position: bottom;
    background-size: contain;
    background-color: var(--very-dark-blue);
  }
  .buttons__itemn:hover {
    opacity: 0.8;
  }
}
