// Font
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

// Colors - primary
$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);

// Colors - neutral
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $dark-blue;
    font-family: "Manrope", sans-serif;
    padding: 40px 0px;
}