.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    row-gap: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 86%;
    max-width: 540px;
    padding: 40px 20px 70px 20px;
    background-color: $dark-grayish-blue;
    border-radius: 10px;

    &__advice-number {
        color: $neon-green;
        font-size: 16px;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    &__advice {
        color: $light-cyan;
        font-size: 28px;
    }

    &__divider {
        background-image: url("./../images/pattern-divider-mobile.svg");
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 16px;
    }

    &__btn {
        background-color: $neon-green;
        border-radius: 50%;
        border: none;
        padding: 20px;
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
        transition: .4s;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 0px 24px 0px $neon-green;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .card {
        padding: 40px 50px 70px 50px;

        &__divider {
            background-image: url("./../images/pattern-divider-desktop.svg");
        }
    }
}